@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer localizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@localizer["Settings"]</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">@localizer["Profile"]</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/UserSettings">@localizer["Settings"]</a>
            </div>
        </li>       
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Memo", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@localizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@localizer["Login"]</a>
        </li>
    }
</ul>
