@model List<MemoViewModel>
@{
    ViewData["Title"] = "Memos";
}
<h1>Memos</h1>
<hr />
<div class="modal" role="dialog" id="modalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<button class="btn btn-success btn-lg" onclick="showPopupForm('@Url.Action("Create","Memo")', 'Add memo')">
    <i class="fa fa-plus"></i> Add new
</button>

<table class="table table-light table-bordered table-hover table-striped" id="memoTable">
    <thead>
        <tr>
            <th class="row-id">Id</th>
            <th>User</th>
            <th>Title</th>
            <th>Note</th>
            <th>Tags</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

@section Scripts{

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script>
        var datatable;
        var role = @(User.IsInRole("Admin")? "true":"false");

        $(document).ready(function () {
            datatable = $('#memoTable').DataTable({
                "ajax": {
                    "url": "/Memo/GetMemos",
                    "dataSrc": "",
                    "type": "GET",
                    "datatype": "json",
                },
                columns: [
                    { "data": "id" },
                    { "data": "userId" },
                    { "data": "title" },
                    { "data": "note" },
                    {
                        "data": "tags",
                        "render": function (data) {
                            var text = "";
                            $.each(data, function (i) {
                                text += "<span class='badge badge-primary'>" + data[i].name + "</span> ";
                            });
                            return text;
                        }
                    },
                    {
                        "data": "createdAt", "render": function (data) {
                            return moment(data).format("MM/DD/YYYY HH:mm:ss");
                        }
                    },
                    {
                        "data": "id", "render": function (data) {
                            if (role) {
                                return "<div class='btn-group-vertical'>" +
                                    "<button class='btn btn-light' onclick=showPopupForm('@Url.Action("Details","Memo")/" +
                                    data + "','Details')><i class='fa fa-search-plus'></i> Details</button>" +
                                    "<button class='btn btn-warning' onclick=showPopupForm('@Url.Action("Edit","Memo")/" +
                                    data + "','Edit')><i class='fa fa-edit'></i> Edit</button>" +
                                    "<button class='btn btn-danger' onclick=deleteMemo(" + data + ")><i class='fa fa-trash'></i> Delete</button><div>";
                            }
                            else {
                                return "<button class='btn btn-light' onclick=showPopupForm('@Url.Action("Details","Memo")/" +
                                    data + "','Details')><i class='fa fa-search-plus'></i> Details</button>";
                            }
                        }
                    }
                ]
            })
        })

        function deleteMemo(id) {
        bootbox.confirm({
        title: "Confirmation",
        message: "Are you sure you want to delete this memo?",
        callback: function (result) {
            if (result) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Memo")/' + id,
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert(
                                {
                                    title: "Notification",
                                    message: data.message
                                });
                            datatable.ajax.reload();
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert({
                            title: "Error: " + xhr.status,
                            message: getErrorMessage(xhr)
                        });
                    }
                })
            }}
        })
    }

    </script>
}
